In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB,BernoulliNB
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [7]:
df=pd.read_csv(r"C:\Users\MR.INDIA\Desktop\Self_ML\ML_Projects\Fake_Real_News_Detection\fake_real_news.csv")
df.head()

,URLs,Headline,Body,Label
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1

In [8]:
df1=df.drop(["URLs","Body"],axis=1)
df1.head()

                                            Headline  Label
0         Four ways Bob Corker skewered Donald Trump      1
1  Linklater's war veteran comedy speaks to moder...      1
2  Trump’s Fight With Corker Jeopardizes His Legi...      1
3  Egypt's Cheiron wins tie-up with Pemex for Mex...      1
4        Jason Aldean opens 'SNL' with Vegas tribute      1

In [9]:
len(df1.Headline.unique())

2831

In [10]:
df2=df1.replace({'Label':{1: 'Real'}})
df3=df2.replace({"Label":{0:"Fake"}})

In [11]:
x = df3.Headline
y = df3.Label
# Split the dataset
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size  =0.2,random_state = 7)

In [12]:
# create obj of countvectorizer
cv=CountVectorizer()

In [13]:
# english stopwords
cv=CountVectorizer(stop_words="english")

In [14]:
x_traincv = cv.fit_transform(x_train)
x_testcv = cv.transform(x_test)

In [15]:
# Train the model
model  = MultinomialNB()
model.fit(x_traincv,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [16]:
# prediction
y_pred=model.predict(x_testcv)

In [17]:
# check the acuracy of model
accuracy_score(y_test,y_pred)

0.8478802992518704

In [18]:
model.score(x_traincv,y_train)

0.9579045837231057

In [19]:
cm = confusion_matrix(y_test,y_pred, labels=["Real","Fake"])
cm

array([[299,  69],
       [ 53, 381]], dtype=int64)

In [20]:
import seaborn as sn
import matplotlib.pyplot as plt
sn.heatmap(cm,annot = True)
plt.xlabel("PREDICTED")
plt.ylabel("TRUTH")

Text(50.722222222222214, 0.5, 'TRUTH')

In [21]:
news=["Four ways Bob Corker skewered Donald Trump"]
t= cv.transform(news)
model.predict(t)

array(['Real'], dtype='<U4')

In [22]:
news=['Independent, viewer-supported news network. No corporate funds or government money']
t= cv.transform(news)
model.predict(t)

array(['Fake'], dtype='<U4')

In [23]:
n=["Activists Circulate Counterfeit Editions Of 'The Washington Post'"]
t=cv.transform(n)
model.predict(t)

array(['Fake'], dtype='<U4')