In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\MR.INDIA\Desktop\DataSets\datasets.csv")
df

,type,name,y,x,experiments
0,r,abalone.csv,rings,NaN,"experiment-2,experiment-3,experiment-4,experim..."
1,r,auto-mpg.csv,mpg,NaN,"experiment-2,experiment-3,experiment-4,experim..."
2,r,bupa.csv,selector,NaN,"experiment-2,experiment-3,experiment-4,experim..."
3,c,covtype.csv,cover_type,NaN,"experiment-2,experiment-3,experiment-4,experim..."
4,r,crx.csv,a16,NaN,"experiment-2,experiment-3,experiment-4,experim..."
5,r,feature_eng.csv,ratio_poly-y0,ratio_poly-x0,"experiment-1,experiment-4"
6,r,feature_eng.csv,ratio_diff-y0,"ratio_diff-x0,ratio_diff-x1,ratio_diff-x2,rati...","experiment-1,experiment-4"
7,r,feature_eng.csv,ratio_poly2-y0,"ratio_poly2-x0,ratio_poly2-x1","experiment-1,experiment-4"
8,r,feature_eng.csv,sqrt-y0,sqrt-x0,"experiment-1,experiment-4"
9,r,feature_eng.csv,log-y0,log-x0,"experiment-1,experiment-4"
10,r,feature_eng.csv,poly2-y0,"poly2-x0,poly2-x1","experiment-1,experiment-4"
11,r,feature_eng.csv,poly-y0,poly-x0,"experiment-1,experiment-4"
12,r,feature_eng.csv,pow-y0,pow-x0,"experiment-1,experiment-4"
13,r,feature_eng.csv,diff-y0,"diff-x0,diff-x1","experiment-1,experiment-4"
14,r,feature_eng.csv,coef_ratio-y0,"coef_ratio-x0,coef_ratio-x1","experiment-1,experiment-4"
15,r,feature_eng.csv,ratio-y0,"ratio-x0,ratio-x1","experiment-1,experiment-4"
16,c,forestfires.csv,area,NaN,"experiment-2,experiment-3,experiment-4,experim..."
17,c,glass.csv,type,NaN,"experiment-2,experiment-3,experiment-4,experim..."
18,c,heart_cleveland.csv,num,NaN,"experiment-2,experiment-3,experiment-4,experim..."
19,c,hepatitis.csv,class,NaN,"experiment-2,experiment-3,experiment-4,experim..."
20,c,horse-colic.csv,outcome,NaN,"experiment-2,experiment-3,experiment-4,experim..."
21,c,housing.csv,crim,NaN,"experiment-2,experiment-3,experiment-4,experim..."
22,c,iris.csv,species,NaN,"experiment-2,experiment-3,experiment-4,experim..."
23,c,pima-indians-diabetes.csv,class,NaN,"experiment-2,experiment-3,experiment-4,experim..."
24,c,soybean_large.csv,type,NaN,"experiment-2,experiment-3,experiment-4,experim..."
25,c,wcbreast_wdbc.csv,diagnosis,NaN,"experiment-2,experiment-3,experiment-4,experim..."
26,c,wcbreast_wpbc.csv,outcome,NaN,"experiment-2,experiment-3,experiment-4,experim..."
27,c,wine.csv,class,NaN,"experiment-2,experiment-3,experiment-4,experim..."

In [4]:
df.isnull().sum()

type            0
name            0
y               0
x              17
experiments     0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
type           28 non-null object
name           28 non-null object
y              28 non-null object
x              11 non-null object
experiments    28 non-null object
dtypes: object(5)
memory usage: 624.0+ bytes