In [29]:
import pandas as pd

In [30]:
df= pd.read_csv(r"C:\Users\MR.INDIA\Desktop\crop_production.csv")
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [31]:
len(df.Season.unique())

6

In [32]:
print(df.Area.unique())
len(df.Area.unique())

[1.25400e+03 2.00000e+00 1.02000e+02 ... 3.02274e+05 1.14930e+04
 2.79151e+05]

38442

In [57]:
# df["Area"]= df.Area.int.slice(1,5).astype(float)

In [33]:
df.shape

(246091, 7)

In [34]:
df.isnull().sum()

State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       3730
dtype: int64

In [35]:
len(df.State_Name.unique())

33

In [36]:
df.describe()

           Crop_Year          Area    Production
count  246091.000000  2.460910e+05  2.423610e+05
mean     2005.643018  1.200282e+04  5.825034e+05
std         4.952164  5.052340e+04  1.706581e+07
min      1997.000000  4.000000e-02  0.000000e+00
25%      2002.000000  8.000000e+01  8.800000e+01
50%      2006.000000  5.820000e+02  7.290000e+02
75%      2010.000000  4.392000e+03  7.023000e+03
max      2015.000000  8.580100e+06  1.250800e+09

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246091 entries, 0 to 246090
Data columns (total 7 columns):
State_Name       246091 non-null object
District_Name    246091 non-null object
Crop_Year        246091 non-null int64
Season           246091 non-null object
Crop             246091 non-null object
Area             246091 non-null float64
Production       242361 non-null float64
dtypes: float64(2), int64(1), object(4)
memory usage: 9.4+ MB

In [38]:
df.Crop_Year.unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2010, 1997, 1998, 1999,
       2007, 2008, 2009, 2011, 2012, 2013, 2014, 2015], dtype=int64)

In [39]:
print(len(df.Production.unique()))
df.Production.unique()

51628

array([2.00000e+03, 1.00000e+00, 3.21000e+02, ..., 7.29553e+05,
       7.30136e+05, 5.97899e+05])

In [42]:
features= df.columns
for i in features:
    print("""Unique value of {}\n{}\n len is {} \n-----------------------------------------------------"""
          .format(i,df[i].unique,len(df[i].unique())))

Unique value of State_Name
<bound method Series.unique of 0         Andaman and Nicobar Islands
1         Andaman and Nicobar Islands
2         Andaman and Nicobar Islands
3         Andaman and Nicobar Islands
4         Andaman and Nicobar Islands
                     ...
246086                    West Bengal
246087                    West Bengal
246088                    West Bengal
246089                    West Bengal
246090                    West Bengal
Name: State_Name, Length: 246091, dtype: object>
 len is 33
-----------------------------------------------------
Unique value of District_Name
<bound method Series.unique of 0         NICOBARS
1         NICOBARS
2         NICOBARS
3         NICOBARS
4         NICOBARS
            ...
246086     PURULIA
246087     PURULIA
246088     PURULIA
246089     PURULIA
246090     PURULIA
Name: District_Name, Length: 246091, dtype: object>
 len is 646
-----------------------------------------------------
Unique value of Crop_Year
<bound method Series.unique of 0         2000
1         2000
2         2000
3         2000
4         2000
          ...
246086    2014
246087    2014
246088    2014
246089    2014
246090    2014
Name: Crop_Year, Length: 246091, dtype: int64>
 len is 19
-----------------------------------------------------
Unique value of Season
<bound method Series.unique of 0         Kharif
1         Kharif
2         Kharif
3         Whole Year
4         Whole Year
             ...
246086    Summer
246087    Summer
246088    Whole Year
246089    Winter
246090    Winter
Name: Season, Length: 246091, dtype: object>
 len is 6
-----------------------------------------------------
Unique value of Crop
<bound method Series.unique of 0                    Arecanut
1         Other Kharif pulses
2                        Rice
3                      Banana
4                   Cashewnut
                 ...
246086                   Rice
246087                Sesamum
246088              Sugarcane
246089                   Rice
246090                Sesamum
Name: Crop, Length: 246091, dtype: object>
 len is 124
-----------------------------------------------------
Unique value of Area
<bound method Series.unique of 0           1254.0
1              2.0
2            102.0
3            176.0
4            720.0
            ...
246086       306.0
246087       627.0
246088       324.0
246089    279151.0
246090       175.0
Name: Area, Length: 246091, dtype: float64>
 len is 38442
-----------------------------------------------------
Unique value of Production
<bound method Series.unique of 0           2000.0
1              1.0
2            321.0
3            641.0
4            165.0
            ...
246086       801.0
246087       463.0
246088     16250.0
246089    597899.0
246090        88.0
Name: Production, Length: 246091, dtype: float64>
 len is 51628
-----------------------------------------------------

In [43]:
df.dtypes

State_Name        object
District_Name     object
Crop_Year          int64
Season            object
Crop              object
Area             float64
Production       float64
dtype: object

In [47]:
df.columns

Index(['State_Name', 'District_Name', 'Crop_Year', 'Season', 'Crop', 'Area',
       'Production'],
      dtype='object')

In [53]:
df["Production"] = df.Production.str.slice(1,7).astype(int)